.layou_main {
  background-color: #e7f7fd80;
  height: 100vh;
  overflow-y: auto;
}

.header_position{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
.outlet_wrapper{
  margin-top: 2rem;
}

@media screen and (max-width:768px) {
  .outlet_wrapper{
    margin-top: 2rem;
  }
}