.pro_card_new {
  position: relative;
  background: #fff;
  border-radius: 18px;
  padding: 15px;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

}

.pro_card_new:hover {
  /* transform: translateY(-6px); */
  box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}

.best_badge {
  position: absolute;
  top: -10px;
  left: 12px;
  background: #ff5a1f;
  color: white;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: 600;
}


.img_section {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img_section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.35);
  transition: 0.3s ease;
}

.pro_card_new:hover .img_section img {
  transform: scale(1.45);
}

.content_section {
  padding-top: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.feature_box {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.feature_box span {
  font-size: 12px;
  border: 1px solid #ddd;
  padding: 3px 8px;
  border-radius: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #f59e0b;
  font-size: 14px;
  margin-bottom: 6px;
}

.rating span {
  color: #666;
  margin-left: 5px;
}

.price_row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-size: 20px;
  font-weight: 700;
}

.old_price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}

.off {
  background: #ffe4d6;
  color: #ff5a1f;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 6px;
}

.stock {
  color: #ff5a1f;
  font-size: 13px;
  margin: 6px 0 10px;
}

.btn_row {
  display: flex;
  gap: 10px;
}

.cart_btn {
  flex: 1;
  background: #ff5a1f;
  border: none;
}

.view_btn {
  flex: 1;
  background: #fff;
  color: black;
  border: 1px solid #ddd;
}
