.footer-section {
  background: #e4f7eb;
  padding: 50px 20px 20px;
  color: #333;
  position: relative;
}

.footer-logo .logo-img {
  width: 140px;
  margin-bottom: 15px;
}

.footer-links li {
  margin: 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links li:hover {
   color: #fd350d !important;
 
}

.social-icons a {
  display: inline-block;
  margin: 0 8px;
  font-size: 20px;
  color: #333;
  transition: 0.3s;
}

.social-icons a:hover {
   color: #fd350d !important;
  transform: scale(1.1);
}

hr {
  margin: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p a{
  text-decoration: none;
  color: rgb(43, 42, 42);
}