.img{
    height: 500px;
    width: 100%;
    
}

@media (max-width:450px) {
    .img{
        height: 180px;
        width: 100%;
    }
    .feature{
        margin-left: 10px;
        color: orange;
    }
    .feature p{
    font-size: 13px;
}
}

@media (min-width:950px) {
    .feature{
    margin-left: 300px;
    color: orange
}

.feature p{
    font-size: 13px;
}
    
}

