.img{
    height: 500px;
    width: 100%;
    
}
.title{
    color: orangered;
}

@media (max-width:450px) {
    .img{
        height: 300px;
        width: 100%;
    }
    .feature{
        margin-left: 10px;
    }
    .feature p{
    font-size: 13px;
}
}

@media (min-width:950px) {
    .feature{
    margin-left: 300px;
 
}

.feature p{
    font-size: 13px;
}
    
}

